

body
{
	background-color: #00053d;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
}
#clear
{
	clear: both;
}

#logo
{
	margin-left: 3%;
	margin-top: 2%;
	float: left;
	border-radius: 50%;
	width: 14%;
	border-width: 4px;
	border-style: solid;
	border-color: black;
}

#nazwa
{
	float: left;
	margin-left: 19%;
	margin-top: 2%;
	width: 26%;
	border-radius: 100px;
	border-width: 7px;
	border-style: solid;
	border-color: black;
}

#switch
{
	float: right;
	margin-right: 2%;
	margin-top: 4%;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 18%;
	height: 120px;
	border-radius: 70px;
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 65px;
	font-family: Tahoma;
	text-transform: uppercase;
}
#switch:hover
{
	background: linear-gradient(to top, #00c6ff, #00c6ff);
	cursor: pointer;
}
#flipcontainer
{
	perspective: 200px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
}
#card.flipped
{
	transform: rotateX(-180deg);
}

#card
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 0%;
	background-color: #FFFFFF;
	width: 55%;
	height: 579px;
	border-radius: 100px;
	border-width: 15px;
	border-style: double;
	border-color: black;
	font-family: Tahoma;
	text-transform: uppercase;
	transition: all 1000ms ;
	transform-style: preserve-3d;
	display: flex;
    flex-wrap: wrap;
}
#front, #back
{
	transform-style: preserve-3d;
	width: 100%;
	height: 579px;
	position: absolute;
	backface-visibility: hidden;
}

#back
{
	transform: rotateX(-180deg);
}
#score
{
	float: left;
	margin-left: 8%;
	margin-right: 4%;
	margin-top: 40px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 15%;
	height: 120px;
	border-radius: 60px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 310%;
	color: #1E1E1E;
	order: 1;
}
#question
{
	float: left;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 40px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 312.5%;
	color: #1E1E1E;
	order: 2;
}
#category
{
	float: left;
	margin-left: 4%;
	margin-right: 8%;
	margin-top: 40px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 15%;
	height: 120px;
	border-radius: 60px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 310%;
	color: #1E1E1E;
	order: 3;
}
#question:hover
{
	cursor: default;
}
#answer1
{
	float: left;
	margin-left: 8%;
	margin-right: 4%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}

#answer2
{
	float: left;
	margin-left: 4%;
	margin-right: 8%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}

#answer3
{
	float: left;
	margin-left: 8%;
	margin-right: 4%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}

#answer4
{
	float:left;
	margin-left: 4%;
	margin-right: 8%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}
#hidscore
{
	float: left;
	margin-left: 8%;
	margin-right: 4%;
	margin-top: 40px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 15%;
	height: 120px;
	border-radius: 60px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 310%;
	color: #1E1E1E;
}
#hidquestion
{
	float: left;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 40px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 20px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}
#hidcategory
{
	float: left;
	margin-left: 4%;
	margin-right: 8%;
	margin-top: 40px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 15%;
	height: 120px;
	border-radius: 60px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
    display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 310%;
	color: #1E1E1E;
}
#hidquestion:hover
{
	cursor: default;
}
#hidanswer1
{
	float: left;
	margin-left: 8%;
	margin-right: 4%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}

#hidanswer2
{
	float: left;
	margin-left: 4%;
	margin-right: 8%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}

#hidanswer3
{
	float: left;
	margin-left: 8%;
	margin-right: 4%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}

#hidanswer4
{
	float:left;
	margin-left: 4%;
	margin-right: 8%;
	margin-top: 70px;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 38%;
	height: 120px;
	border-radius: 100px;
	border-width: 5px;
	border-style: solid;
	border-color: #1E1E1E;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 50px;
	color: #1E1E1E;
}

#mute-button{
	float: right;
	margin-right: 1%;
	margin-top: 4.5%;
	background: linear-gradient(to right, #00c6ff, #0072ff);
	width: 100px;
	height: 100px;
	border-radius: 70px;
	border-width: 5px;
	border-style: solid;
	border-color: #000000;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 40px;
}

#mute-button:hover
{
	background: linear-gradient(to right, #00c6ff, #00c6ff);
	cursor: pointer;
}


@media only screen and (max-width: 900px) 

{
	body
	{
		background-color: #00053d;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 80' width='80' height='80'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M14 16H9v-2h5V9.87a4 4 0 1 1 2 0V14h5v2h-5v15.95A10 10 0 0 0 23.66 27l-3.46-2 8.2-2.2-2.9 5a12 12 0 0 1-21 0l-2.89-5 8.2 2.2-3.47 2A10 10 0 0 0 14 31.95V16zm40 40h-5v-2h5v-4.13a4 4 0 1 1 2 0V54h5v2h-5v15.95A10 10 0 0 0 63.66 67l-3.47-2 8.2-2.2-2.88 5a12 12 0 0 1-21.02 0l-2.88-5 8.2 2.2-3.47 2A10 10 0 0 0 54 71.95V56zm-39 6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm40-40a2 2 0 1 1 0-4 2 2 0 0 1 0 4zM15 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm40 40a2 2 0 1 0 0-4 2 2 0 0 0 0 4z'%3E%3C/path%3E%3C/svg%3E");
	}
	#clear
	{
		clear: both;
	}

	#logo
	{
		margin-left: 0.01%;
		margin-top: 0.7em;
		float: left;
		border-radius: 50%;
		width: 18%;
		border-width: 4px;
		border-style: solid;
		border-color: black;
	}

	#nazwa
	{
		float: left;
		margin-left: 0.01%;
		margin-top: 0.7em;
		width: 45%;
		border-radius: 100px;
		border-width: 7px;
		border-style: solid;
		border-color: black;
	}

	#switch
	{
		float: right;
		margin-right: 0.01%;
		margin-top: 0.7em;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 15%;
		height: 70px;
		border-radius: 70px;
		border: 5px solid black;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 22px;
		color: #000000;
		font-family: Tahoma;
		text-transform: uppercase;
	}
	#switch:hover
	{
		background-color: #AFCFF0;
		cursor: pointer;
	}
	#flipcontainer
	{
		perspective: 200px;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2%;
	}
	#card.flipped
	{
		transform: rotateY(-180deg);
	}

	#card
	{
		margin-left: auto;
		margin-right: auto;
		margin-top: 2%;
		background-color: #FFFFFF;
		width: 20em;
		height: 37em;
		border-radius: 4em;
		border-width: 15%;
		border-style: double;
		border-color: black;
		font-family: Tahoma;
		text-transform: uppercase;
		transition: all 1000ms ;
		transform-style: preserve-3d;
		display: flex;
		flex-wrap: wrap;
	}
	#front, #back
	{
		transform-style: preserve-3d;
		width: 100%;
		height: 579px;
		position: absolute;
		backface-visibility: hidden;
		display: flex;
		flex-wrap: wrap;
	}
	
	#back
	{
		transform: rotateY(-180deg);
	}
	#score
	{
		float:left;
		margin-left: 10%;
		margin-top: 4%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 4em;
		height: 3em;
		border-radius: 60px;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 140%;
		color: #1E1E1E;
		order: 1;
	}
	#question
	{
		float: left;
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 1%;
		background: linear-gradient(to top, #99daf8, #c4ecff);
		width: 88%;
		height: 12%;
		border-radius: 0.7em;
		border-width: 0.15em;
		border-style: solid;
		border-color: black;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 312.5%;
		color: black;
		order: 3;
	}
	#category
	{
		float: left;
		margin-left: 22%;
		margin-top: 4%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 4em;
		height: 3em;
		border-radius: 6em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 140%;
		color: #1E1E1E;
		order: 1;
	}
	#question:hover
	{
		cursor: default;
	}
	#answer1
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 3%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 4;
	}

	#answer2
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 5;
	}

	#answer3
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 6;
	}

	#answer4
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 7;
	}
	#hidscore
	{
		float:left;
		margin-left: 10%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 4em;
		height: 3em;
		border-radius: 60px;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 140%;
		color: #1E1E1E;
		order: 1;
	}
	#hidquestion
	{
		float: left;
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to top, #99daf8, #c4ecff);
		width: 88%;
		height: 12%;
		border-radius: 0.7em;
		border-width: 0.15em;
		border-style: solid;
		border-color: black;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 312.5%;
		color: black;
		order: 3;
	}
	#hidcategory
	{
		float: left;
		margin-left: 22%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 4em;
		height: 3em;
		border-radius: 6em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 140%;
		color: #1E1E1E;
		order: 1;
	}
	#hidquestion:hover
	{
		cursor: default;
	}
	#hidanswer1
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 4;
	}

	#hidanswer2
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 5;
	}

	#hidanswer3
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 6;
	}

	#hidanswer4
	{
		margin-left: 6%;
		margin-right: 6%;
		margin-top: 5%;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 88%;
		height: 12%;
		border-radius: 10em;
		border-width: 0.15em;
		border-style: solid;
		border-color: #1E1E1E;
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 50px;
		color: #1E1E1E;
		order: 7;
	}

	#mute-button{
		float: left;
		margin-left: 0.01%;
		margin-top: 0.7em;
		background: linear-gradient(to right, #00c6ff, #0072ff);
		width: 15%;
		height: 70px;
		border-radius: 70px;
		
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		font-size: 20px;
	}
	
	#mute-button:hover
	{
		background: linear-gradient(to right, #00c6ff, #00c6ff);
		cursor: pointer;
	}

	}
